@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #696667ff; */
  --background: #cfcfd2;
  --button-primary: #964f4cff;
  --button-secondary: #567572ff;
}

body {
  background: var(--background);
  position: relative;
  height: 100vh;
}

.frame {
  margin: 6rem;
  padding: 50px;
  display: flex;
  min-height: calc(100% - 18rem);
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
